<%- include('partials/header') %>


<% primCat.forEach(pc => { %>
  <h4><%= pc %></h4>
  <% riskMatrix.forEach(risk => { %>
    <% if (risk.pc === pc) { %>
      <a href="<%= risk.id %>"><%= risk.sc %></a> 
      <% } %>
  <% }) %>
<% }) %>



<!-- <% riskMatrix.forEach(risk => { %>

<% }) %> -->

<%- include('partials/footer') %>